
$dark: #343757
$dark3: rgba(52,55,87, 0.03)
$dark3Solid: #F4F3F3
$dark5: rgba(52,55,87, 0.05)
$dark5Solid: #F0EFF0
$dark7: rgba(52,55,87, 0.07)
$dark7Solid: #ECEBED
$dark10: rgba(52,55,87, 0.1)
$dark10Solid: #E6E5E8
$dark15: rgba(52,55,87, 0.15)
$dark15Solid: #DCDCE0
$dark20: rgba(52,55,87, 0.2)
$dark20Solid: #D2D2D8
$dark30: rgba(52,55,87, 0.3)
$dark30Solid: #BEBEC7
$dark40: rgba(52,55,87, 0.4)
$dark40Solid: #ABABB8
$dark50: rgba(52,55,87, 0.5)
$dark50Solid: #9798A7
$dark60: rgba(52,55,87, 0.6)
$dark60Solid: #838597
$dark70: rgba(52,55,87, 0.7)
$dark70Solid: #6F7187
$dark85: rgba(52,55,87, 0.85)
$borderRad: 5px 
$accent: #00A9A5
$accentHover: #0DC4BF
$blue: #0578ff
$shadow: rgba(16,16,23,.15)
$serif: 'Playfair Display', serif
$body: #f7f7f7


=placeholder($color)
  &::-webkit-input-placeholder 
      color: $color
  &::-moz-placeholder   
      color: $color
  &::-moz-placeholder       
      color: $color
  &::-ms-input-placeholder 
      color: $color   