@import ~sass/variables

.bg
    background-color: $body
    display: flex
    justify-content: center
    height: calc(100% - 75px)
    width: 100%
    -webkit-overflow-scrolling: touch
    overflow-y: auto
    position: relative

.wrapper
    padding: 5rem 1rem
    max-width: 1400px

.choosingBanner
    white-space: nowrap
    text-align: center
    position: fixed
    top: 74.5px
    left: 50%
    transform: translateX(-50%)
    z-index: 999
    color: white
    background: $accent
    border-radius: 0 0 $borderRad $borderRad
    padding: 1rem 2rem
    font-weight: bold

.personalToggle
    white-space: nowrap
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 2rem
    color: $dark50
.checkBox
    margin-right: .5rem
    height: 25px
    width: 25px
    position: relative
    display: inline-block
    border-radius: $borderRad
    border: solid 2px $dark20
    cursor: pointer
    &::after
        position: absolute
        left: 7px
        top: 4px
        width: 7px
        height: 10px
        border: solid white
        border-width: 0 3px 3px 0
        transform: rotate(45deg)
    &.checked
        background: $accent
        border: solid 2px $accent
        &::after
            content: ""

@media (max-width: 700px)
    .choosingBanner
        top: 64.5px
