@import ~sass/variables

.bg
    height: calc(100% - 75px)
    width: 100%
    -webkit-overflow-scrolling: touch
    overflow-y: auto

.wrapper    
    width: 100%
    max-width: 1000px
    margin: 0 auto
    padding: 3rem 2rem
    position: relative
    

    
.coverImg
    width: 100%
    height: 250px
    border-radius: $borderRad
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    margin-bottom: 3rem
    position: relative
    overflow: hidden
    cursor: pointer
    &:hover
        & .hover
            opacity: 1

.hover
    position: absolute
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: $dark40
    opacity: 0
    transition: opacity 0.3s ease
    span
        font-weight: bold
        background-color: $accent
        color: white
        padding: .5rem 1rem
        border-radius: 10rem
        &:nth-of-type(2)
            background-color: white
            color: $dark
            margin-top: 1.5rem
        i
            margin-right: 5px


.textPadding
    padding: 0 2rem
    
.title
    margin-bottom: 2rem
    display: flex
    justify-content: space-between
    align-items: center
    line-height: 2.5rem
    font-size: 2.4rem
    span
        display: inline-block
        padding: 0 9px
        border-radius: $borderRad
        font-weight: bold
        font-size: 1.01rem
        color: $dark30
        background-color: $dark7
        min-width: 90px
        margin-left: 1rem
        i
            margin-right: 3px
.line
    background-color: $dark10
    height: 2px
    margin: 2rem 0
      
.section
    h2
        font-size: 1.3rem;
        letter-spacing: 2px
        margin-bottom: 1.5rem

.recipeURL
    text-decoration: underline

.ingredients
    ul
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: auto
        grid-gap: 1rem
        list-style: none
        color: $dark70
        margin-bottom: 2.5rem
    li
        display: flex
        align-items: center
        font-size: 1.01rem
    span
        margin-right: .75rem
        background-color: $accent
        display: inline-block
        min-width: .5rem
        min-height: .5rem
        border-radius: 50%
        position: relative
        top: 3px

.directions
    margin-bottom: 2rem
    p
        color: $dark70



@media (max-width: 1000px)
    .wrapper
        padding: 0
    .coverImg
        margin-bottom: 2rem
        border-radius: 0 
        width: 100%
    .title  
        font-size: 2.2rem

@media (max-width: 700px)
    .ingredients
        ul
            grid-template-columns: 1fr 1fr 

@media (max-width: 450px)
    .ingredients
        ul
            display: grid
            grid-template-columns: 1fr

