@import ~sass/variables

::ng-deep
  .cardHover
    position: absolute
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: $dark40
    opacity: 0
    transition: opacity 0.3s ease
    span
        font-weight: bold
        background-color: $accent
        color: white
        padding: .5rem 1rem
        border-radius: 10rem
        &:nth-of-type(2)
            background-color: white
            color: $dark
            margin-top: 1.5rem
        i
            margin-right: 5px

.wrapper
    margin: 0 auto
    width: 100%
    max-width: 350px
    background-color: white 
    box-shadow: 0 5px 25px -5px $shadow
    border-radius: $borderRad
    cursor: pointer
    position: relative
    overflow: hidden
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 225px 100px 50px
    &:hover
        ::ng-deep
            .cardHover
                opacity: 1
    img
        object-fit: cover
        width: 100%
        height: 100%
    h3
        display: flex
        align-items: center
        justify-content: center
        color: $dark85
        font-size: 1.35rem
        font-weight: bold
        line-height: 1.5rem
        word-break: break-word
        padding: 1rem 2rem
        text-align: center

.specs
    padding: 0 2rem
    width: 100%
    text-align: center
    i
        margin-right: 3px
    span
        padding: 6px 9px
        border-radius: $borderRad
        font-weight: bold
        font-size: 1.01rem
        color: $dark30
        background-color: $dark7
  
.plus
    margin: 0 auto
    width: 100%
    height: 375px
    max-width: 350px
    display: flex
    justify-content: center
    align-items: center 
    color: $dark30
    font-size: 2rem
    cursor: pointer
    background: $dark5
    border-radius: $borderRad
    i
        transition: 0.3s ease
    &:hover
        i
            transform: scale(1.2)

@media (max-width: 450px)
    .wrapper
        width: 100%