@import ~sass/variables



.wrapper
    margin: 4rem auto
    padding: 0 1rem
    max-width: 1400px
    display: grid
    grid-template-columns: repeat(3, 350px)
    grid-template-rows: 1fr 
    grid-gap: 2rem
    justify-content: center 

.timeOfDay
    display: flex
    align-items: center
    flex-direction: column
    h3
        letter-spacing: 2px
        margin-bottom: 1.25rem

.mealCard
    width: 100%
    margin-bottom: 2rem
    

.addCard
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto
    width: 100%
    max-width: 350px
    background-color: $dark5 
    border-radius: $borderRad
    padding: 1.5rem
    color: $dark30
    font-size: 2rem
    cursor: pointer
    i
        transition: 0.3s ease
    &:hover
        i
            transform: scale(1.2)

@media (max-width: 1200px)
    .wrapper
        grid-template-columns: repeat(2, 350px)

@media (max-width: 800px)
    .wrapper
        grid-template-columns: 1fr