@import ~sass/variables

.page
    position: relative
    height: 100%
    width: 100%
    
        
router-outlet
    display: none


.desktop
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: 1fr 1fr 1fr
    font-weight: bold
    padding: 1rem 2rem
    background: white
    height: 75px
    & .left
        display: flex
        align-items: center
        a
            font-size: 1.1rem
            cursor: pointer
            &:first-child
                margin-right: 2rem

    h1
        display: flex
        align-items: center
        justify-content: center
        font-family: $serif
        font-size: 2rem
        color: $dark
    & .right
        display: flex
        align-items: center
        justify-content: flex-end
        button
            background-color: $accent
            color: white
            font-weight: bold
            padding: .7rem 1rem
            border-radius: 10rem  
            font-size: 1rem  
        

.mobile
    width: 100%
    z-index: 999
    background: white
    display: none
    padding: 0 2rem
    height: 65px
    align-items: center
    justify-content: center
    h1
        font-family: $serif
        font-size: 1.75rem
        color: $dark
        text-align: center
    i 
        cursor: pointer
        position: absolute
        right: 2rem
        font-size: 1.75rem

.sideBar
    position: fixed
    height: 100vh
    width: 250px
    background: white
    z-index: 9999
    top: 0
    right: 0
    transform: translateX(100%)
    transition: 0.3s ease
    padding: 2rem 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &.active
        transform: translateX(0%)
    & .exit
        i
            font-size: 1.75rem
            position: absolute
            top: 0
            right: 0
            padding: 1.5rem 2rem
            cursor: pointer
    a 
        font-weight: bold
        font-size: 1.5rem
        margin: 2rem 0
        cursor: pointer
    button
        background-color: $accent
        color: white
        font-weight: bold
        padding: .7rem 1rem
        border-radius: 10rem  
        font-size: 1rem  
        

@media (max-width: 700px)
    .desktop
        display: none
    .mobile
        display: flex

    
