@import ~sass/variables

.wrapper
    width: 100%
    max-width: 1000px
    margin: 0 auto
    padding: 3rem 2rem
    position: relative

.coverImg
    width: 100%
    height: 250px
    border-radius: $borderRad
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    margin-bottom: 3rem
    background-color: $dark10

.textPadding
    padding: 0 2rem 3.5rem 2rem

section
    margin-bottom: 4rem
    h2
        display: flex
        font-weight: bold
        font-size: 1.3rem
        letter-spacing: 2px
        margin-bottom: 1rem
        i
            margin-left: 1rem

textarea
    resize: none
    overflow-y: hidden
    background: none
    font: inherit
    min-height: 56px
    


.uploadImageBtn
    position: relative
    cursor: pointer
    text-align: center
    input
        cursor: pointer
        position: absolute
        top: -20px
        left: 0
        height: calc(100% + 20px)
        width: 100%
        opacity: 0

.or
    opacity: 0.3

.seperator
    margin-bottom: 6rem
    padding-top: 2rem
    width: 100%
    border-bottom: 4px solid $dark10
    
.input
    border: 2px solid $dark10
    padding: 1rem
    color: $dark85
    font-size: 1.1rem
    border-radius: $borderRad
    +placeholder($dark30) 

.smallInput
    width: 200px

.largeInput
    width: 100%

.selectWrapper
    cursor: pointer
    padding: 0
    position: relative
    select
        padding: 1rem
        cursor: pointer
        appearance: none
        display: inline
        font: inherit
        color: $dark85 
        width: 100%
        border: none
        background: none
        &::-ms-expand 
            display: none  
    &:after
        content: "\f0dd"
        font-weight: 900
        font-family: "Font Awesome 5 Free"
        position: absolute
        right: 1rem
        top: 13px
        pointer-events: none

// .textField
//     border-left: none
//     border-right: none
//     border-top: none
//     border-radius: 0

.deleteIngredient
    padding: 0 1rem
    cursor: pointer

.ingredient
    display: flex
    align-items: center
    margin-bottom: 1rem
    width: 100%
    max-width: 400px
    border: solid 2px $dark7 
    border-radius: $borderRad
    background: none
    input
        padding: 1rem 
        flex-grow: 1
        font-size: 1.1rem
        color: $dark85
        +placeholder($dark30) 

.addIngredientBtn
    text-align: center
    max-width: 400px 
    cursor: pointer
    background-color: transparent
    transition: 0.3s ease
    &:hover
        background-color: $dark5

.submit 
    background-color: $accent
    color: white
    padding: 1rem
    width: 100%
    font-weight: bold 
    font-size: 1.1rem
    border-radius: $borderRad
    margin-bottom: 1rem
    transition: 0.3s ease
    &:hover
        background-color: $accentHover

.error
    color: #ff005f
    font-size: 1rem
    i 
        color: #ff005f

.formErrors
    width: 100%
    text-align: center
    font-size: 1rem
    i 
        color: #ff005f

.formValid
    width: 100%
    text-align: center
    font-size: 1rem
    i 
        color: $accent

@media (max-width: 1000px)
    .wrapper
        padding: 0
    .coverImg
        margin-bottom: 2rem
        border-radius: 0 
        width: 100%