@import ~sass/variables

.wrapper
    margin: 3rem auto 0 auto
    display: flex
    flex-direction: column
    align-items: center

h3
    text-align: center
    font-weight: bold
    color: $dark30
    font-size: 1.1rem

.daysCont
    padding: 0 1.5rem
    margin-top: 1rem 
    display: flex
    align-items: center

.days
    display: flex
    justify-content: center
    flex-wrap: wrap
    button
        border: solid 1.5px $dark10
        height: 55px
        width: 55px
        margin: 0 1rem
        border-radius: 10rem
        font-weight: bold
        font-size: 1.2rem
        color: $dark30
        transition: 0.3s ease
        &:hover
            background-color: $accent
            color: white
            border: solid 1.5px $accent
        &.active
            background-color: $accent
            color: white
            border: solid 1.5px $accent

.arrow
    cursor: pointer
    margin-right: .5rem
    img
        height: 40px
    &:last-child
        transform: rotate(180deg)
        margin-right: 0
        margin-left: .5rem
        
@media (max-width: 680px)
    .days
        button
            height: 40px
            width: 40px
            margin: 0 .6rem
            font-size: 1rem
    .arrow
        img
            height: 30px

@media (max-width: 450px)
    .days
        margin-bottom: -1rem
        button
            margin-bottom: 1rem