@import ~sass/variables
*
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    margin: 0
    padding: 0
    &:before,
    &:after 
        box-sizing: border-box
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
    &:focus
        outline: none
    &::selection
        background: $accent
        color: white

html,
body 
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    font-family: 'Ubuntu', sans-serif
    font-weight: 400
    line-height: 1.5rem
    -webkit-font-smoothing: antialiased   
    color: $dark
    overflow: hidden
    -webkit-overflow-scrolling: touch
    background-color: $body

button
    border: none
    background: none
    cursor: pointer
    font-family: 'Ubuntu'

input
    border: none
    border-radius: 0 
    appearance: none
    background: none
    font-family: inherit
    &:-webkit-autofill 
        -webkit-transition-delay: 99999s


@-webkit-keyframes autofill 
    to 
    color: black
    background: transparent

a 
    text-decoration: none
    outline: 0
    color: inherit
    

.pageTitle
    display: flex
    flex-direction: column
    align-items: center
    h1 
        font-size: 3.55rem
        margin-bottom: 1.5rem
    span
        width: 150px
        height: 3px
        background-color: $accent

.exitBtn  
    // display: none
    z-index: 1000
    position: fixed
    left: 2rem
    top: calc(75px + 3rem)
    height: 50px
    width: 50px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    border-radius: $borderRad
    background-color: $dark20
    color: white
    font-size: 1.25rem


.ais-SearchBox 
    max-width: 800px
    margin: 0 auto 2rem auto
    border-bottom: 2px solid $dark10
    form
        display: flex
    input 
        height: 100%
        width: 100%
        padding: 1rem
        color: $dark85
        font-size: 1.1rem
        +placeholder($dark30) 
    button
        height: 25px
        width: 50px
        opacity: .2
    svg
        height: 100%

.ais-Hits
    max-width: 100%
    display: grid
    grid-template-columns: repeat(3, 350px)
    grid-template-rows: 1fr 
    grid-gap: 2rem
    justify-content: center 


.ais-Pagination
    ul
        text-align: center
        margin: 2rem 0
    li
        color: $dark60
        display: inline-block
        padding: 1rem
        cursor: pointer
    & .ais-Pagination-item--selected
        font-weight: bold
        color: $dark

@media (max-width: 1200px)
    .ais-Hits
        grid-template-columns: repeat(2, 350px)

@media (max-width: 800px)
    .ais-Hits
        grid-template-columns: 1fr

@media (max-width: 700px)
    .exitBtn 
        left: 1rem
        top: .5rem
        background: none
        color: $dark
